.leaderboard {
    text-align: center;
    background-color: white;
    font-size: 28px;
    font-weight: 700;
}

.leaderboard h4 {
    margin: 0;
}

.leaderboard > table {
    border-collapse: collapse; 
}

.leaderboard > table > tr {
    color: white;
}

.leaderboard > table > tr > td {
    padding-right: 20px;
}

.leaderboard > table > tr > td > p {
    padding: 10px 20px;
    border-radius: 160px;
}


.leaderboard > table > tr:first-child > td:last-child > p {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
}

.leaderboard > table > tr:first-child > td:nth-child(2) > p {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    
}

.leaderboard > table > tr > td > p {
    background: linear-gradient(to bottom right, #25e1ff, #5a8dff);
}
