.leaderboard {
    text-align: center;
    background-color: white;
    font-size: 28px;
    font-weight: 500;
}

.leaderboard > table > tr:nth-child(even){
    background-color: rgba(110, 110, 110, 0.1); 
}