.leaderboard {
    text-align: center;
    background-color: white;
    font-size: 28px;
    font-weight: 500;
}

.leaderboard > table > tr:nth-child(even){
    background-color: rgba(110, 110, 110, 0.1); 
}


.leaderboard > table > tr > td {
    background-color: rgba(100, 100, 100, 0.10);
    height: 30px;
}

.leaderboardAvatar {
    width: 100px;
    height: 100px;;
}