.grid-container {
    display: grid;
    grid-row: auto auto;
    grid-template-columns: 300px 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: rgb(120,120,120, 0.2);
    padding: 10px;
    justify-content: center;
    font-weight: 500;
}

.grid-item {
    background-color: lightgray;
    color: white;
    transition: background-color 0.5s ease;
}

.neutral:hover {
    background-color: darkgrey; 
    cursor: pointer;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.choice {
    background-color: yellow;
}
