.mainView {
    display: flex;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.play-header {
    display: flex;
    padding: 0px 40px;
    align-items: center;
}

.play-header > div:first-child {
    flex:9;
    text-align: left;
}

.play-header > div:last-child() {
    flex:1;
}

.play-split {
    background: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 60%;
}
