.mainView {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-split > div > h3 {
    margin: 20px 0 0 0;
}

.play {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    width: 80%;
    margin: auto;
    color: rgb(173, 173, 173);
}

.play-header {
    display: flex;
    padding: 0px 40px;
    align-items: center;
}

.play-header > div:first-child {
    flex:9;
    text-align: left;
}

.play-header > div:last-child() {
    flex:1;
}

.play-split {
    background: white;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

@media screen and (max-width: 900px) {

  .play {
    flex-direction: column;
  }
  
  .play > div {
      margin-top: 20px;
  }
}


