.grid-container {
    display: grid;
    grid-row: auto auto;
    grid-template-columns: 300px 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: rgb(179, 51, 51);
    padding: 10px;
}

.grid-item {
    background-color: pink;
    color: rgb(66, 0, 0);
}

.grid-item:hover {
    background-color: darkred;
}