
.login {
    width: 500px;
}


.login > h1 {
  font-size: 45px;
  color: grey;
  margin: 10px 0;
  font-weight: 700;

}

.login button {
  display: block;
  margin: auto;
}

.login > p {
  font-size: 24px;
  color: grey;
  margin: 10px 0;
  font-weight: 500;

}

.slider {
    width: 240px;
    height: 240px;
    display: block;
    position: relative;
    margin: auto;
}

.slider img {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.top {
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-direction: alternate;
}