.roomResults {
    
    text-align: left;
    background-color: darkred;
    color: white;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0px 10px;
    color: white;
    background-color: darkred;
  }
  
  .itemRight{
    flex:1;
    margin-bottom: 2%;
    border-bottom: 3px solid pink;
    border-top: 3px solid pink;
    border-left: 3px solid pink;
    padding-right: 100px;
  }

  .itemLeft{
    flex:1;
    margin-bottom: 2%;
    border: 3px solid pink;
  }