
.header {
    padding: 20px;
}

.header > img {
    width: 800px;
}

.header > div  {
    margin: 0;
    padding: 0;
    display: block;
}

.header > div > a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin: 0px 25px;
}