
.header {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header > div {
    flex: 1;
}

.header > .back {
    display: flex;
    align-items: center;
    justify-content: left;
}

.logged-in > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    float: right;
    padding: 0;
    padding-right: 60px;
}

.header > .logo {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.header > .logo > img {
    width: 100%;
    min-width: 500px;
    flex: 1;
}


.logged-in .user-image > img {
    width: 150px;
}

.logged-in .user-info {
    text-align: left;
}

.logged-in .user-info p {
    margin: 0;
    font-size: 32px;
}

.logged-in .user-info h6 {
    margin: 0;
    font-size: 18px;
}

.logged-in .user-info button {
    font-size: 14px;
    margin-bottom: 10px;
}

@media screen and (max-width: 900px) {

  .header {
    justify-content: center;
    align-self: center;
    flex-direction: column;
  }
}