
.login {
    background: white;
    padding: 20px 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 500px;
}

.login > button {
    display: block;
    margin: auto;
}

.login > h1 {
  font-size: 45px;
  color: grey;
  margin: 10px 0;
  font-weight: 700;

}

.login > p {
  font-size: 24px;
  color: grey;
  margin: 10px 0;
  font-weight: 500;

}

.login > button{
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 7px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .1s ease-in-out;
  user-select: none;
}

.login > button:hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(243, 133, 153, 0.5), .125rem .125rem 1rem rgba(255, 182, 137, 0.5);
}

.login > button:nth-child(6) {
  background: linear-gradient(to bottom right, #696969, #979797);
}
.login > button:nth-child(6):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(87, 87, 87, 0.5), .125rem .125rem 1rem rgba(139, 139, 139, 0.5);
}

.slider {
    width: 240px;
    height: 240px;
    display: block;
    position: relative;
    margin: auto;
}

.slider img {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.top {
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-direction: alternate;
}